<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prima pagina AngularJS</title>
</head>

<body>
    <div id="container" ng-app="">

       <div ng-init="calciatore1={nome:'Tote',cognome:'George'}">
       Nome: <input type="text" name="calciatore" ng-model="calciatore1.nome">
       Cognome <input type="text" name="calciatore" ng-model="calciatore1.cognome">

       <p>Il calciatore si chiama <span ng-bind-template="{{calciatore1.nome}} {{calciatore1.cognome}}"></span> </p>

    

       </div>
    <script src="prova.js"></script>
</body>

</html>